{% extends 'base.html' %}

{% block title %}Task Detail{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  This is your task {{ user.username }}!, please finish them ASAP
  <p><a href="{% url 'logout' %}">Log Out</a></p>

    <li>{{ object.title }} </li>
    <li>{{ object.description }} </li>
    <li>{{ object.status }}  </li>
    <li>{{ object.deadline }} </li>
    {% for comment in object.comments.all %}
    <li>{{ comment.comment }} </li>
    {% endfor %}
      <p><a href="{% url "task:update-task" task.pk %}">Update Your Task</a></p>
{% endif %}
{% endblock %}